@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap");

:root {
  --primary-color: #ff3d3de3;
  --secundary-color: #232323;
  --terciary-color: #d9d7e2ee;
  --quaternary-color: #dd0e0ed0;

}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home {
  height: 100vh;
  width: 100%;
  background: url(../images/backgroun-image-red2\ degradado\ jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 740px;
  z-index: 1;
}

.material-symbols-outlined {
  position: absolute;
  color: white;
}

.logo,
.logo2,
.logo3 {
  z-index: 3;
  position: fixed;
  top: -2px;
  left: -2px;
  width: 60px;
  height: auto;
  transition: all 0.3s ease;
}

.logo2 {
  left: 22px;
}

.logo3 {
  top: 27px;
  left: 65px;
  font-size: 13px;
  color: white;
  font-family: "Press Start 2P", cursive;
  cursor: default;
}

.container .menu {
  position: fixed;
  display: flex;
  justify-content: end;
  background-color: var(--secundary-color);
  width: 100%;
  height: 3.5rem;
  z-index: 2;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.7 ease;
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition-duration: 0.4s;
  opacity: 1;
}

.container .menu a:hover {
  transition: all 0.7 ease;
  color: var(--quaternary-color);
}

.perfil {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  top: 20%;
}

.perfil img {
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0,0,0,1);
  border: 2px solid black;
  margin-right: 20px;
  transition: all 1s ease;
}

.title {
  font-size: 60px;
}

.title span {
  font-size: 80px;
  font-family: "Monoton", cursive;
}

.subtitle {
  font-size: 2rem;
  width: 300px;
  border-bottom: 4px solid var(--secundary-color);
}

.col {
  max-width: 420px;
  height: 60%;
  height: auto;
  margin: auto 60px;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .home {
    background-size: auto 100%;
    min-height: 700px;
    max-height: 700px;
    }

  .perfil img {
    margin: auto;
    max-height: 400px;
  }

  .col {
    max-height: 290px;
    min-width: 350px;
    max-width: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    transition: all 0.3s ease;
  }
  .title {
    font-size: 40px;
  }

  .title span {
    font-size: 62px;
  }

  .subtitle {
    font-size: 25px;
    width: 231px;
  }
}

@media (max-width: 690px) {
  .home {
    min-height: 1000px;
  }
  .col {
    margin:-60px auto 35px auto;
  }
}

@media (max-width: 335px) {
  .col {
    margin-top: 5px;
    min-width: 220px;
    max-width: 220px;
    border-radius: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.842);
    transition: all 0.3s ease;
  }

  .title {
    font-size: 20px;
  }

  .title span {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
    width: 190px;
  }
}

/* menu lateral */

#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
#btn-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  margin-top: 56px;
  width: 100%;
  max-width: 150px;
  background: black;
  height: 100vh;
  position: fixed;
  transition: all 500ms ease;
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  top: 30px;
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid var(--primary-color);
  background: var(--secundary-color);
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 990px) {
  /*Desaparecer links del navbar horizontal*/

  .container .menu a {
    display: none;
    transition-duration: 500ms;
    opacity: 0;
  }

  /*posision logo*/
  .logo,
  .logo2,
  .logo3 {
    margin-left: 60px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  /* Animacion de menu */
  .nav-icon-5 {
    top: 2px;
    z-index: 3;
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: fixed;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }
  .nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }
  .nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
    background-color: var(--primary-color);
  }
  .nav-icon-5.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
    background-color: var(--primary-color);
  }
}

/* Section About me */

.container-me {
    background: linear-gradient(var(--terciary-color)5%, white 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

}

.secundary-title {
    font-family: 'Monoton', cursive;
    font-weight: 500;
    font-size: 50px;;
    margin: 30px auto;
    border-bottom: 6px double black;
}

.about-me-text {
    background: rgba(255, 255, 255, 0.877);
    border-radius: 15px;
    padding: 15px;
    color: var(--secundary-color);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    z-index: 1;
}

.container-me p {
    padding: 10px;
    line-height: 1.5;
    text-indent: 1.5em;
    max-width: 800px;
}

/* My services */


.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.my-services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background: linear-gradient( white 60%,#ff6a6a 80%,#ff0000);
}

.container-card {
  display: flex;
  width: 100%;
  max-width: 1100px;  
  align-items: center;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
  min-width: 300px;
  min-height: 500px;
}

@media (max-width: 940px) {
  .container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    max-width: 300px;
  }
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.9);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
  position: relative;
  object-fit: cover;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card p {
  line-height: 1.5;
  color: var(--secundary-color);
}

.card .contenido-card h3{
  font-weight: 500;
  margin-bottom: 15px;
}

/* section My Work */

.My-Work {
  background: url(../images/bg-my-workjpg.jpg);
  background-position: 100% 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  padding-bottom: 70px;
}

.subtitle2{
  color: white;
  border-bottom: 6px double white;
}

.container-grid {
  position:static;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 50px 20px;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 718px) {
  .container-grid {
    max-height: 1100px;
  }

  .container-grid div:nth-child(4) {
    display: none;
  }
  .container-grid div:nth-child(5) {
    display: none;
  }
  .container-grid div:nth-child(6) {
    display: none;
  }
  .container-grid div:nth-child(7) {
    display: none;
  }
  .container-grid div:nth-child(8) {
    display: none;
  }
}

.unidad {
  margin: 15px;
  border: 5px outset gray;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  width: 300px;
  transition: all 400ms ease;
}

.unidad img{
  width: 100%;
  height: 260px;
  transition: all 400ms ease;
  border-bottom: 2px solid black;
  object-fit: cover;
}

.unidad:hover {
  transform: scale(1.06);
  transition: all 500ms ease;
  opacity: 1;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.7);
}

.contenido-grid {
  font-size: 15px;
  text-align: center;
  width: 300px;
}

.unidad a{
  text-decoration: none;
  color: white;;
}

.unidad h2 {
  background: black;
  padding: 5px;
  font-size: 24px;
}

/* Contact section */

.contact-me {
  padding-top: 30px ;
  background: url(../images/footer-bg3.jpg);
  background-size: contain;
  height: 280px;
  background-repeat: repeat-x;
}

@media (max-width:765px) {
  .contact-me {
    background-size: cover;
    height: 400px;
  }
}

.contaner-contact {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 30%;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px auto;
  height: 100%;
  width: 100%;
}

.items {
  font-size: 30px;
  margin: auto 10px;
  background:#ff6a6a;
  padding: 7px;
  color: black;
  border-radius: 10px;
  transition: all 400ms ease;
}

.wht:hover{
  color: white;
  background: rgb(133, 214, 10);
  transition: all 400ms ease;
}

.insta:hover {
  color: white;
  transition: all 400ms ease;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.git:hover {
  color: white;
  transition: all 400ms ease;
  background: black;
}

.email:hover {
  color: rgb(221, 1, 1);
  transition: all 400ms ease;
  background: white;
}

.linke:hover {
  color: rgb(255, 255, 255);
  transition: all 400ms ease;
  background: rgb(0, 140, 255);
}

.contact-text {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto 30px auto;
  width: 80%;
  text-align: center;
}
